@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Absolute Colors */
  --white: #fff;
  --black: #000;

  /* Orange Shades */
  --orange-50: #ff9500;
  --orange-70: #ff8f66;
  --orange-75: #ffca80;
  --orange-80: #ffd499;
  --orange-90: #ffeacc;
  --orange-95: #fff4e5;
  --orange-97: #fff9f0;
  --orange-99: #fffdfa;

  /* White Shades */
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;

  /* Grey Shades */
  --grey-10: #191919;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #89898a;
  --grey-70: #b3b3b3;

  /* Default theme colors */
  --background: var(--white);
  --foreground: var(--grey-10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--grey-10);
    --foreground: var(--white-95);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
